
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

/*----------------------*/

.cf:before, .cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

.cf {
    zoom:1;
}
.inputuser {

    width: 255px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #eee;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.labeluser {
    padding-left:5px;
}

.labelemail {
    padding-left:15px;
    padding-top:20px;
}


.passwort {

    height: 34px;
    padding: 6px 2px;
    width: 255px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.userchange {
    /*padding-left:500px;*/
    position:relative;
    top: 10px;
    left: 35%;
    right: 25%;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    margin: 50px;
    margin-left:0px;
    width:420px;
    height: 320px;
}

.userdelete {
    /*padding-left:500px;*/
    position:relative;
    top: 20px;
    left: 35%;
    right: 25%;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    margin: 50px;
    margin-left:0px;
    width:420px;
    height: 339px;
}

.usertable {
    border:hidden;
}
.usertable, td {
    padding: 5px;
    border:none;
    background-color:white;
}

.bigcontainer{

    margin-left: 12%;
    top: 5%;
    margin-right: 5%;

}

.rightcontainer {
    width:50%;
    float:right;

}

.info {
    /*padding-left:500px;*/
    position:relative;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    margin: 20px;
    margin-left:0px;
    width: 100%;
    font-size: 17px;
}

/*----------------------*/



/*----------------------*/



nav li {
    float: left;
}

nav #login {

    /*-moz-box-shadow: 1px 0 0 #222;
    -webkit-box-shadow: 1px 0 0 #444;
    box-shadow: 1px 0 0 #444;  */
}




nav #signup a {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

nav #login-trigger {
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
    /*background: #222;
    color: #efefef; */
}

nav #login-content {
    border: solid 1px #337ab7;
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 999;
    background: #444;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #444, #000);
    background-image: -moz-linear-gradient(top, #444, #000);
    background-image: -ms-linear-gradient(top, #444, #000);
    background-image: -o-linear-gradient(top, #444, #000);
    background-image: linear-gradient(top, #444, #000);
    padding: 15px;
    -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    -moz-border-radius: 3px 0 3px 3px;
    -webkit-border-radius: 3px 0 3px 3px;
    border-radius: 3px 0 3px 3px;

    background: white;
    margin: 0;
    font-size: 12px;

}

nav li #login-content {
    right: 0;
    width: 275px;
}

/*--------------------*/

#inputs input {
    background: #efefef;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    /* border: 1px solid #222222;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #efefef inset;
    -webkit-box-shadow: 0 1px 1px #efefef inset;
    box-shadow: 0 1px 1px #efefef inset;
}

#inputs input:focus {
    background-color: #fff;
    border-color: #337ab7;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #efefef inset;
    -webkit-box-shadow: 0 0 0 1px #efefef inset;
    box-shadow: 0 0 0 1px #efefef inset;
}

/*--------------------*/

#login #actions {
    margin: 10px 0 0 0;
}

#login #submit {
    background-color: #337ab7;
    /*
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d46a15), to(#bf4c24));
  background-image: -webkit-linear-gradient(top, #d46a15, #bf4c24);
  background-image: -moz-linear-gradient(top, #d46a15, #bf4c24);
  background-image: -ms-linear-gradient(top, #d46a15, #bf4c24);
  background-image: -o-linear-gradient(top, #d46a15, #bf4c24);
  background-image: linear-gradient(top, #d46a15, #bf4c24); */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    /* border: 1px solid #222222; */
    float: left;
    height: 30px;
    padding: 0;
    margin-right: 10px;
    width: 100px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #efefef;
}

#login #submit:hover,
#login #submit:focus {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bf4c24), to(#d46a15));
    background-image: -webkit-linear-gradient(top, #bf4c24, #d46a15);
    background-image: -moz-linear-gradient(top, #bf4c24, #d46a15);
    background-image: -ms-linear-gradient(top, #bf4c24, #d46a15);
    background-image: -o-linear-gradient(top, #bf4c24, #d46a15);
    background-image: linear-gradient(top, #bf4c24, #d46a15);
}

#login #submit:active {
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#login #submit::-moz-focus-inner {
    border: none;
}

#login label {
    float: left;
    line-height: 30px;
    color: #337ab7;
}

#login label input {
    position: relative;
    top: 2px;
    right: 2px;
}

#register {
    /*padding-left:500px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
}


/* chat */
#chat_border {
    height: 500px;
}

#chat_ausgabe {
    height:400px;
    overflow:auto;
}

/* unused
#chat_hr {
width: 100%;
height: 1px;
margin: 0 auto;
margin-bottom: 2px;
background: black;
} */

#nachricht {
    width:65%;
}

#neueLocation {
    float:left;
    width: 50%;
    margin-top:-25px;
}

.weiß {
    min-height:100%;
    background-color: white;
}

body, html {
    /* background-image: url("http://bilder.t-online.de/b/73/12/25/04/id_73122504/610/tid_da/sonnenbrille-raus-und-ab-ins-cafe-das-wochenende-wird-fuer-die-meisten-richtig-schoen-.jpg");
    background-size: 305px 171px; */
    height:100%;
    background-color: #FF8000;
    background: linear-gradient(to right, #c0c0c0 0%, white 15%, white 85%, #c0c0c0 100%);
}